<div class="container">
	<div class="row">
		<div class="col s12">
			<h2>Cómo hacer una taza estándar de café expreso y café americano</h2>					
			<p style="text-align:justify">
				Cómo hacer una taza estándar de espresso y café americano. Para una taza de café expreso, la tasa de extracción de café es un dato objetivo y real. Entre 24 y 28 segundos, la concentración del extracto que pesa entre 36 y 40 g es una regla de oro que el barista debe recordar. Con el desarrollo de la industria del café y en la constante exploración y experimentación del café de especialidad, la gente abandona casi por completo todas las restricciones y usa su propia comprensión del café para interpretar el espresso.
			</p>			
			<p style="text-align:justify">
				La relación entre el peso del café en polvo y el café es actualmente el estándar industrial más autorizado. Puede ser ampliamente utilizado simplemente entendiendo el análisis del proceso de la tasa de extracción. La tasa de extracción del café puede extraer el aroma y el aroma del café dentro del rango del 18% al 22%. Otras buenas sustancias disueltas pueden satisfacer las necesidades de personas con diferentes gustos utilizando diferentes proporciones de agua o leche.
			</p>
			<img src="../assets/img/Imagen_03.jpg" alt="Imagen" width="840" height="420">				
			<p style="text-align:justify">
				La teoría de EBF puede ayudarlo a modificar los parámetros correspondientes en el proceso de extracción y concentración para alcanzar el rango de extracción de 18% ~ 22%. En el trabajo, podemos ajustar el grado de molienda de nuestro molinillo, la cantidad de polvo y la cantidad de extracción. , Para hacer ajustes.
			</p>
		</div>
	</div>
</div>