<div class="container">
	<div class="row">
		<div class="col s12">
			<h2>Pros y contras de beber café</h2>					
			<p style="text-align:justify">
				El café es omnipresente en la sociedad actual y ahora es uno de los productos más consumidos del planeta. Dado que la bebida es un elemento básico de casi todas las culturas modernas, todos nos hemos acostumbrado a beberla durante todo el día. Pero el hecho de que algo sea un lugar común no significa que sea saludable. En este blog, veremos algunos de los principales pros y contras de tomar café.
			</p>			
			<img src="../assets/img/Imagen_04.jpg" alt="Imagen" width="840" height="420">										
			<h4>PRO: Mente saludable</h4>				
			<p style="text-align:justify">
				Cualquier cosa que pongamos en nuestro cuerpo tendrá un efecto en ellos, y el café no es diferente. La mayoría de los cafés tienen propiedades antioxidantes, lo que significa que mantendrán las células cerebrales sanas y aumentarán el rendimiento de sus neurotransmisores. Beber café todos los días ha relacionado estas cualidades con la reducción del riesgo de varias afecciones, como la enfermedad de Alzheimer o Parkinson.
			</p>
			<h4>CONTRA: Mayor riesgo</h4>				
			<p style="text-align:justify">
				Desafortunadamente, las propiedades antioxidantes del café no son el único efecto que tendrá la bebida en usted. Beber café también hace que el organismo pierda calcio, que es llevado a cabo en exceso por la orina. Con el tiempo, los bebedores de café en exceso podrían correr el riesgo de padecer enfermedades como la osteoporosis, donde los huesos se vuelven menos densos y más frágiles. Afortunadamente, esto puede evitarse poniendo dos cucharadas de leche en la bebida.
			</p>
		</div>
	</div>
</div>