<div class="container">
	<div class="row">
		<div class="col s12">
			<h2>Café Espresso Italiano</h2>
			<h4>Hostoria de la producción del café italiano</h4>			
			<p style="text-align:justify">En Italia, al igual que en otros países, algunos miembros de la iglesia se opusieron inicialmente a la introducción del café. De hecho, algunos cristianos fanáticos instaron al Papa Clemente VIII a prohibir la "bebida del diablo", pero el Papa probó y le gustó la nueva bebida, por lo que agradeció su uso. Gracias a la bendición del Papa, el café se convirtió rápidamente en una bebida muy popular.
			El café se cultiva principalmente en áreas tropicales. Entre los diversos tipos de café molido italiano, el Arábica es el más común y, precisamente, representa las tres cuartas partes de la producción mundial de café.

			El café expreso tiene “orígenes muy italianos”, tanto en lo que respecta a las máquinas de café expreso como a los métodos de producción. Las máquinas y técnicas que hoy en día son tan comunes en Italia son el resultado de la mejora de un prototipo que se presentó en la Exposición Universal de París en 1855.
			</p>
			<img src="../assets/img/Imagen_01.jpg" alt="Imagen" width="840" height="420">
			<h4>Café expreso y pasión italiana</h4>
			<p style="text-align:justify">La pasión motiva a los productores de café molido italiano a buscar constantemente la perfección. Esta pasión se traduce en un conocimiento profundo de todos los aspectos de este producto, de sus métodos de preparación y de las diversas formas en las que se puede servir. Es una forma de satisfacer los gustos de todos los amantes del café italiano, garantizando así la combinación adecuada de tradición e innovación.
			
			¡Veamos ahora cuáles son las cinco principales marcas italianas de café molido!
			</p>
			<h4>Café molido italiano: las 5 marcas italianas más populares del mundo</h4>
			<p style="text-align:justify">En los últimos años, los sectores del té y el café molido italiano han impulsado las exportaciones italianas de productos agroalimentarios directamente, en porcentajes de dos dígitos.
			Se encontró que los mercados donde se encuentran la mayoría de las exportaciones de dichos productos italianos son los siguientes, en orden decreciente:</p>
			<ul>
				<li>Francia</li>
				<li>Alemania</li>
				<li>Rusia</li>
				<li>Grecia</li>
				<li>Rumania</li>
				<li>Brasil</li>
			</ul>		
		</div>
	</div>
</div>