<div class="container">
	<div class="row">
		<div class="col s12">
			<h2>HISTORIA DEL CAFÉ AMERICANO</h2>					
			<p style="text-align:justify">
				Si bien algunos podrían considerar el café americano como un café desagradable, su historia es interesante y fascinante.

				A pesar de que el café americano suele ser confundido fácilmente con un café filtrado o por goteo, es importante tener en cuenta que el café americano es una bebida a base de espresso y su preparación consiste en agregar agua caliente a un espresso ya extraído.
			</p>			
			<p style="text-align:justify">
				Su nombre proviene del italiano Caffè Americano (que significa “café americano”, aunque también se le suele llamar simplemente “americano”) y data de la década de 1970.
			</p>
			<p style="text-align:justify">
				Se tiene la creencia, de que esta bebida fue creada en Italia durante la Segunda Guerra Mundial, donde las tropas estadounidenses estacionadas en Europa, al no estar acostumbrados al sabor tan intenso del espresso italiano (café disponible en ese momento), lo diluían con un poco de agua caliente para darle un sabor más familiar.
			</p>
			<img src="../assets/img/Imagen_05.jpg" alt="Imagen" width="840" height="420">								
		</div>
	</div>
</div>