<div class="container">
	<div class="row">
		<div class="col s12">
			<h2>Solo 1 taza de café a la semana puede reducir el riesgo de accidente cerebrovascular e insuficiencia cardíaca</h2>
			<img src="../assets/img/Imagen_02.jpg" alt="Imagen" width="840" height="420">		
			<p style="text-align:justify">Beber tan solo una taza de café a la semana puede reducir el riesgo de accidente cerebrovascular e insuficiencia cardíaca, sugiere un nuevo estudio.</p>
			<p style="text-align:justify">Los investigadores analizaron la información de 2.750 personas que participaron en el estudio Framingham Heart Study de larga duración, a las que se les dio seguimiento durante hasta 34 años. El estudio hizo un seguimiento de lo que comían los participantes y de su salud cardiovascular.</p>
			<p style="text-align:justify">Los investigadores encontraron que, en el transcurso del estudio en curso, cada taza de café que una persona bebía por semana estaba relacionada con una disminución del 7 por ciento en el riesgo de accidente cerebrovascular y una disminución del 8 por ciento en el riesgo de insuficiencia cardíaca, en comparación con las personas. que no tomaba café. (La insuficiencia cardíaca significa que el músculo cardíaco no puede bombear suficiente sangre para satisfacer las demandas normales del cuerpo).</p>
		</div>
	</div>
</div>